/*TIMELINE CSS*/
.main-timeline{
    position: relative;
  }
  .main-timeline:after{
    content: '';
    display: block;
    clear: both;
  }
  .main-timeline .timeline{
    width: 91.1%;
    /* padding: 20px 0 20px 100px; */
    float: right;
    position: relative;
    z-index: 1;
  }
  .main-timeline .timeline:before,
  .main-timeline .timeline:after{
    content: '';
    background:#C4C4C4;
    height: 100%;
    width: 12px;
    position: absolute;
    left: 0px;
    top: 0;
  }
  .main-timeline .timeline:after{
    background:#C4C4C4;
    height: 14px;
    width: 102px;
    transform: translateY(-50%);
    top: 50%;
    left: -90px;
  }
  .main-timeline .timeline-content{
    color: #000;
    padding: 0 0 0 25px;
    /* box-shadow: 0 0 20px -10px #000; */
    border-radius: 10px;
    display: block;
    text-decoration: none;
  }
  .main-timeline .timeline-content:hover{
    color: #000;
    text-decoration: none;
  }
  .main-timeline .timeline-icon{
    color: #000;
    background-color: #C4C4C4;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    /* border-radius: 50%; */
    transform: translateY(-50%);
    position: absolute;
    left: -100px;
    top: 50%;
    z-index: 1;
  }
  .main-timeline .timeline-year{
    color: #517d82;
    background-color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 93px;
    height: 113px;
    width: 113px;
    border: 6px solid#C4C4C4;
    box-shadow: 0 0 10px -5px #000;
    border-radius: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 50px;
    top: 50%;
    z-index: 1;
  }
  .main-timeline .inner-content {
    background-color: #fff;
    margin-bottom: 11px;
    padding: 15px;
    border: 1px solid grey;
  }
  .main-timeline .title{
    color:#C4C4C4;
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 5px 0;
  }
  .main-timeline .description{
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
  }
  
  .timeline:first-child .timeline-content:before {
    content: " ";
    height: 25px;
    width: 30px;
    background: #c4c4c4;
    border-radius: 50%;
    position: absolute;
    left: -9px;
    top: -20px;
  }
  
  
  .timeline:last-child .timeline-content:before {
    content: " ";
    height: 25px;
    width: 30px;
    background: #c4c4c4;
    border-radius: 50%;
    position: absolute;
    left: -9px;
    bottom: -20px;
  }
  
  
  
  @media only screen and (max-width:1200px){
    .main-timeline .timeline:before{ left: -12.5px; }
  }
  @media only screen and (max-width:990px){
    .main-timeline .timeline:before{ left: -12.5px; }
  }
  @media only screen and (max-width:767px){
    .main-timeline .timeline{
        width: 100%;
        padding: 20px 0 20px 37px;
    }
    .main-timeline .timeline:before{ left: 0; }
    
    .main-timeline .timeline:after,
    
    .main-timeline .timeline-icon,
  
    .main-timeline .timeline-year{
        height: 75px;
        width: 75px;
        line-height: 60px;
        font-size: 25px;
        left: 1px;
    }
    .main-timeline .timeline-content{
        padding: 0 0 0 40px;
    }
  }
  
  /*END OF TIMELINE CSS*/